#root {
  width: 100%;
  height: 100%;
}
.app {
  text-align: center;
  height: 100%;
}

.index-image {
  width: 100%;
  height: 100%;
}

.class-container {
  position: relative;
  top: 5%;
  height: 90%;
  width: 100%;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: scroll;
  justify-content: space-evenly;
  align-items: center;
}
.houseContainer {
  position: relative;
  top: 10%;
  width: 100%;
  height: 100%;
}
.house {
  width: 100%;
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.house-image {
  width: 20%;
  height: 80%;
  display: inline-block;
  margin: auto;
  padding-left: 45px;
}
.house-div {
  height: 100%;
  width: 100%;
}
