#root {
  width: 100%;
  height: 100%;
}
.app {
  text-align: center;
  height: 100%;
}

.index-image {
  width: 100%;
  height: 100%;
}

.class-container {
  position: relative;
  top: 5%;
  height: 90%;
  width: 75%;
}

.nav-wrapper{
  width:25%;
  float: right;
  display: inline-block;
}

.list {
  list-style-type: none;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50%;
  width: 30%;
  overflow: scroll;
  justify-content: space-evenly;
  align-items: center;
}

.character-detail{
  list-style-type: none;
}

.houseContainer {
  position: relative;
  top: 10%;
  width: 100%;
  height: 100%;
}
.house {
  /* margin:'5px'; */
  width: 40%;
  height: 80%;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.house-image {
  width: 20%;
  height: 80%;
  display: inline-block;
  margin: auto;
  padding-left: 45px;
}

.house-img-div{
  display: inline;
}

.house-div {
  height: 100%;
  width: 100%;
}
